footer::after {
    content: "®Todos os direitos reservados - Luciano José Kratzer - 2022 ©™";
}

header a{
    text-decoration: none;
    color: black;
}

.text-justify{
    text-align: justify;
}



main, header{

    margin: 0px 200px 0px 200px;

}

header span{  

    vertical-align: 40px;  

}


.centralizar{
    align-items: center;
    align-self: center;
    text-align: center;
}



.titulos{

    color: crimson; 

    font-size: large;

    margin-top: 50px; 

    list-style: none;

}



.informacoes{

    

    font-size: medium;

    color: black;

    margin-top: 25px; 

}



.topicos{

    font-weight: bold;

}





.topicos::after{

    content:  " : " ;

}





.textos{

    font-style: italic;

}

body{

    border: 1px solid black;

    

}



main, header{

    margin: 0px 200px 0px 200px;

}

header span{  

    vertical-align: 40px;  

}



img{

    width: 130px;

    height: 130px;

    border-radius: 50%;

}



.titulos{

    color: crimson; 

    font-size: large;

    margin-top: 50px; 

    list-style: none;

}



.informacoes{

    

    font-size: medium;

    color: black;

    margin-top: 25px; 

}



.topicos{

    font-weight: bold;

}





.topicos::after{

    content:  " : " ;

}





.textos{

    font-style: italic;

}



